dist/
www/
loader/
docs-www/

src/components.d.ts
src/themes/*.css
src/themes/*.css.map

*~
*.sw[mnpcod]
*.log
*.lock
!yarn.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
