/* GRUNDSTILAR
---------------------------------------------------------
---------------------------------------------------------
/*
 * only suppress the focus ring once what-input has successfully started
 */

/* suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}

*/
body {
	max-width: 900px;
	margin: auto;
	font-size: 100%;
	font-family: 'Open sans', 'Helvetica', sans-serif;
}

button {
	font-size: 1rem;
}

fieldset {
	display:inline-block;
	padding: 0.5rem 1rem 0 1rem;
	border:none;
}

fieldset > span {
	font-size: 1rem;
	/*font-weight:bold;*/
}

input {
	padding: 0.4rem;
	font-size: 0.9rem;
	display: block;
    margin-bottom: 1rem;
}

label {
	font-weight: bold;
}
label > .error {
	display: block;
	padding: 0.5rem;
	background-color: lightcoral;
	font-weight: normal;
	margin: 0.3rem 0 0.5rem 0;
	font-size: 0.9rem;
	max-width: 170px;
}

section {
	border-top:6px solid #c3c3c3;
	margin-top: 3rem;
	padding-top: 3rem;
}

ol > li {
	border: 1px grey;
	margin-bottom: 2rem;
}

ol {
	margin: 2.5rem 0 10rem 0;
}

h1 {
	margin-top: 2rem;
	font-size: 4rem;
}

h2 {
	/*margin-top: 4.5rem;*/
}

h3 {
	font-weight:400;
}



.btn{
	display:inline-block;
	padding:13px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	cursor:pointer;
}
.btn:hover{
	background-color:whitesmoke;
}

.visually-hidden {
	position:absolute;
	left:-9999px;
}

*[aria-expanded="false"] + .expandable{
  display:none;
}

*[aria-expanded="true"] + .expandable{
  display:block;
}

/*
*  Inline-listor
*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul > li {
	float:left;
	display:block;
}

label {
	display:inline-block;
}

input[type="checkbox"]{
	display:inline-block;
}

/* SPECIFIKA STILAR
---------------------------------------------------------
---------------------------------------------------------
*/


/* 2. Aria-expanded 

button[aria-expanded='true'] {
	background-color: steelblue;
}

button[aria-expanded='true']:hover {
	background-color: lightsteelblue;
}
*/


.label-example{
	font-family: FontAwesome;
   	content: "\f004";
}

/* 5. Aria-haspopup */

.tabpanel {
  margin: 20px;
  padding: 0;
}
.tablist {
  margin: 0 0px;
  padding: 0;
  list-style: none;
}

.tab {
  margin: .2em 1px 0 0;
  padding: 10px;
  height: 1em;
  font-weight: bold;
 

  border: 1px solid black;
	background:#dddddd;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
 
  float: left;
  display: inline; /* IE float bug fix */
}

.panel {
  clear: both;
  display: block;
  margin: 0 0 0 0;
  padding: 10px;
  width: 300px;
  background:#f2f2f2;
	border-bottom-left-radius:.5em;
	border-bottom-right-radius:.5em;
  
}

ul.controlList {
  list-style-type: none;
}

li[aria-selected='true'] {
  color: black;
  background-color: #fff;
  border-bottom: 1px solid white;
}

div[aria-hidden='true'] {
   display: none;
}
div[aria-hidden='false'] {
   display:block;
}

.focus {
  margin-top: 0;
  height: 1.2em;
}

.hidden {display:none!important;}

/* 9. Simple dropdowns */

		[aria-label^="example"] ul {
			background: #1928cf;
		}

		[aria-label^="example"] ul:after {
			content: '\0020';
			display: block;
			clear: both;
		}

		[aria-label^="example"] li {
			float: left;
			vertical-align: top;
			list-style: none;
		}

		[aria-label^="example"] li + li a {
			border-left: 1px solid;
		}

		[aria-label^="example"] a {
			color: #fff;
			display: block;
			padding: 0.5em;
		}

		[aria-label^="example"] a:hover, [aria-label^="example"] a:focus {
			background: #222;
		}

		[aria-haspopup="true"] {
			position: relative;
		}

		[aria-haspopup="true"] span {
			font-size: 0.85em;
			padding-left: 0.25em;
		}

		ul[aria-hidden="true"] {
			display: none;
		}

		[aria-haspopup="true"] + ul[aria-hidden="false"] {
			margin-top: 0;
			display: block;
			position: absolute;
			min-width: 200px;
		}

		[aria-haspopup="true"] + ul li {
			float: none;
		}


/* 6. Aria-pressed */

button[aria-pressed='true'] {
	background-color: steelblue;
}

/* 11. Aria-live */

.livearea {
	margin-top: 2rem;
	display:block;
	width: 100%;
	margin:auto;
	background-color: lightcoral;
	font-size: 2rem;
	padding:1rem;
}

#polite-area {
	background-color: lightblue;
}

#assertive-area {
	background-color: lightcoral;
}

#off-area {
	background-color: lightgrey;
}
#busy-area.klar{
	background-color: lightgreen;
}
#busy-area{
	background-color: lightcoral;
}

/* Role=heading*/

.h3{
	display: block;
    font-size: 1.17em;
    margin-before: 1.33em;
    margin-after: 1em;
    font-weight: bold;
    margin-bottom: 19px;
 }

 .h4{
	display: block;
    margin-before: 1.33em;
    margin-after: 1.33em;
    font-weight: bold;
    margin-bottom: 19px;

 }

 .h5{
	display: block;
    font-size: 0.83em;
    margin-before: 1.67em;
    margin-after: 1.67em;
    font-weight: bold;
    margin-bottom: 19px;

 }

  .h6{
	display: block;
    font-size: 0.67em;
    margin-before: 2.33em;
    margin-after: 2.33em;
    font-weight: bold;
    margin-bottom: 19px;

 }

 /*
 
SJ-semantik

  */
 
 .sj-table{
 	width:100%;
	background-color:#f4f4ee;
	padding:1rem;
	font-size: 18px;
 }
 .sj-row{
 	width:100%;
 	background-color:#fff;
 	/*min-height:80px;*/
 	display:table;
 	width:100%;
 	margin-bottom:0.2rem;
 }
 .sj-text-outer{
 	padding-left:20px;
 	padding-right:20px;
 	vertical-align: middle;
 	padding-top:2px;
 	position:relative;
 	/*cursor:pointer;*/
 	display:table-cell;
 	height:66px;
 	width:65%;
 }

 .sj-text-inner{
 	display:table;
 	width:100%;
 	font-size:18px;

 }

 .sj-text-time {
 	display:table-cell;
 	font-weight:bold;
 	width:30px;
 }
  .sj-text-duration {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-changes {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-brand {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-operator {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 	text-align:right;
 }
 .sj-price-outer {
 	padding-left:20px;
 	padding-right:20px;
 	vertical-align: middle;
 	padding-top:2px;
 	position:relative;
 	/*cursor:pointer;*/
 	display:table-cell;
 	height:66px;
 	width:35%;
 	border-left: 1px solid #ebebe3;
 }
 .sj-price-inner{
 	display:table;
 	width:100%;
 	font-size: 20px;
 }
 .sj-price-lower {
 	display:table-cell;
 }
  .sj-price-lower>span, .sj-price-higher>span {
	font-weight:bold;
  }

  .sj-expanded {
  	display:block;
  }
  .sj-expanded-wrapper{
  	display:table;
  	width:100%;
  	min-height:300px;
  }
  .sj-traininfo {
  	display:table-cell;
  	width:65%;
  	padding-left:20px;
  	padding-right:20px;
  	background:#fafaf7;

  }
  .sj-prices {
  	display:table-cell;
  	width:35%;
  	background:white;
  	padding-left:20px;
  	padding-right:20px;
  }

  .sj-pricegrid-row{
  	display:table-row;
  	width:100%;
  }
.sj-pricegrid-row:nth-child(2){
	border-bottom: 1px solid black;
}

.sj-pricegrid-inner:nth-child(2){
	border-left:1px solid black;
}

  .sj-pricegrid-outer{
  	display:table;
  	width:100%;
  }
  .sj-pricegrid-inner{
  	display:table-cell;
  	width:50%;
  	height:88px;
  	text-align:center;
  	vertical-align: middle;
  	cursor:pointer;
  }

  .sj-pricegrid-inner:hover{
	background-color:#fafaf7;
  }

 .visibility-hidden{
 	visibility:hidden;
 }

 .opacity-hidden{
 	opacity:0;
 }

 label > img {
 	width:30px;
 	height:30px;
 	margin-top:20px;
 	z-index:10;
 }

.relative-position{
	position:relative;

}

.text-right {
	text-align: right;
}

table[role="application"] {
	margin-bottom: 5rem;
	text-align: center;
	font-size:1.2rem;
}

th[role="columnheader"], td[role="button"]{
	padding:1.4rem 1rem 1.4rem 1rem;
	width:40px;
	height:60px;
}

td[role="button"]:focus{
	background-color:#7fdbef;
}

td[role="button"]:focus:hover{
	background-color:#7fdbef;
	cursor: pointer;
}

td[role="button"][aria-pressed="true"]:focus:hover{
	/*background-color:#7fdbef;*/
	cursor: pointer;
	/*color: black;*/
}
td[role="button"][aria-pressed="true"]:hover{
	background-color: #2b7ea7;
	cursor: pointer;
	color:white;
}

td[role="button"]:hover{
	background-color:#f5f5f5;
	cursor: pointer;
}


td[role="button"][aria-pressed="true"]{
	
	background-color: #2b7ea7;
	color:white;
	font-weight: bold;
}
td[role="button"][aria-disabled="true"]{
	
	color: darkgray;
}
td[role="button"][aria-disabled="true"]:hover{
	background:none;
	cursor:initial;
}

p#a11y_description {
	display:none;
	text-align: initial;
	max-width: 40rem;
	margin-left: auto;
	margin-right:auto;
	padding:2rem;
	background-color: #f4f4ee;
}
html[data-whatinput="keyboard"] p#a11y_description {
	display:block;
}
