
.demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.demo__code {
  padding: 1.5rem;
  border: 0.0625rem solid var(--b-line);
}

.demo__code > pre {
  margin-bottom: 0;
}

.demo__controls {
  padding: 1.5rem;
  border: 0.0625rem solid var(--b-line);
}

.theme-toggle {
  display: inline-block;
  margin: 0;
  margin-left: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: none;
  color: var(--b-link);
  background-color: transparent;
  cursor: pointer;
}

.options-table th,
.options-table td {
  vertical-align: top;
}

.options-table th {
  white-space: nowrap;
}

.styling-table td {
  vertical-align: top;
}

.styling-table td code {
  white-space: nowrap;
}
