:root {
  --text-color: #fff;
  --secondary-color: #bcbcbcff;
  --border-color: #595959;
  --bg-color: #14171e;
  --disabled-color: #767676;
  --hover-color: #2b2d37;
  --bg2-color: #2b2d37;
  --focus-color: #ffbf00;
  --error-color: #f16c57;
}
@import "base.scss";

.inclusive-dates__input {
  color: var(--text-color);
  &::placeholder {
    color: var(--text-color);
    font-size: 1rem;
    opacity: 0.8;
  }
}
