:root {
  --text-color: #111;
  --secondary-color: #767676;
  --border-color: #949494;
  --bg-color: #fff;
  --disabled-color: #767676;
  --hover-color: #f2f3f5;
  --bg2-color: #f2f3f5;
  --focus-color: #0000ff;
  --error-color: #d4351c;
}

@import "base.scss";
