.chat-container{
	background-color: #f5f5f5;
	padding-bottom: 2rem;
	padding-top:1rem;
	min-height: 120px;
	width: 100%;
	max-height: 300px;
	overflow: scroll;


	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	ul {
		padding: 1rem;
		margin-left:1rem;
	}

	li.message {
		
		position:relative;
		margin-bottom: 0.5rem;
		//display:block;
		clear:both;

		/*&:before{
			content:"";
			width:40px;
			height:40px;
			background-color: pink;
			position:absolute;
			border-radius:50%;
			left: 0;
			top: 0;
			margin-left: 60px;
		}*/

		&.message-from-me p{
			background-color: pink;

		}
		p {
			margin:0;
			//display:inline;
			padding: 0.5rem 1.5rem 0.5rem 1rem;

			min-width: 50px;
			max-width: 300px;
			border-radius: 20px;
			background-color: lightblue;
		}

		.timestamp {
			display:block;
			font-size: 0.8rem;
		}



	}
}

.chat-input-wrapper{
	width:100%;
	position:relative;

	button {
		position:absolute;
		right:0;
		margin:0;
		padding:8px;
	}
}


#chat-input {
	display:inline-block;
	width:80%;
}