
*:focus{
	box-shadow: 0 0 0 2px #5e35b1;
	outline:0;

}

/*#input_wrapper{
		background-color:pink!important;
		position:relative;
		max-width: rem-calc(500px);
	    margin: 0 auto;
	    margin-bottom: 2rem;
	    overflow:hidden;
	  }*/

.inclusive-datepicker_input {
	&__wrapper{
		position:relative;
		max-width: rem-calc(500px);
	    margin: 0 auto;
	    margin-bottom: 2rem;
	    overflow:hidden;

	    @include breakpoint(small only) { 
		max-width: 100%;
		}
	 }
	&__date[type="text"]{
		margin-bottom: 0.25rem;
		color:black;
		border:1px solid #888;
		height: 4rem;
		padding: 6px 4px 5px 15px;

		&:focus{
			padding: 3px 2px 3px 11px;
		}


		&::placeholder{
			color:#696767;
		}
	}

	label span {
		display: block;
    	font-weight: initial;
    	font-size: 0.9rem;

	}

	&__date-error {
		background-color: aliceblue;
	}
}




#datepicker_wrapper {
	position:relative;
	max-width: rem-calc(550px);
    margin: 0 auto;
    overflow:hidden;
    //background-color: #f5f5f5;

    table{
    	font-size:1.2rem;

    	@include breakpoint(small only) { 
		font-size: 1rem;

		}
    }


    @include breakpoint(small only) { 
		max-width: 100%;
	}


}

.month-nav__wrapper{
	//position:relative;
	width:100%;
}

.month-nav__sides {

	min-width:6rem;
	//position:absolute;
	//
	
	&.btn {
		border:none;
		background: none;
		text-decoration: underline;
		text-underline-position: under;

		&:focus{
			box-shadow: 0 0 0 2px #5e35b1;
			outline:0;
		}
		&:focus, &:hover{
			background-color: #e2e2e2;
		}

	}

	&.left{
		float:left;
	}
	&.right{
		float:right;
	}
}

table#datepicker_table {
	text-align: center;
	background-color:#f5f5f5;
	padding:0.5rem;
	//margin: 1rem auto 2rem auto;
	border-collapse: initial;
	border: 1px solid #888;

	thead {
		background:none;
	}

	tbody {
		background:none;
	}

	td {
		padding:0;
	}

	td > button {
		padding:1.4rem;
		height:auto;
		background-color: #fefefe;
		width:100%;

		@include breakpoint(small only) { 
			height:auto;
			padding:1rem;

		}

		&.today{
			text-decoration: underline;
			text-underline-position: under;
			//font-weight: bold;
		}

		&.disabled{
			background:none;
			cursor:default!important;
			color:#6f6f6f;
			&:hover{
				cursor:default;
			}
			/*&:focus{
				background-color: inherit;
			}*/
		}

		&.active {
			background-color: #2b7ea7;
			color:white;
			font-weight: bold;
			border-radius:50%;

			&:focus:hover{
			cursor: pointer;
			background-color: #2b7ea7;

			}
			&:hover{
				cursor: pointer;
				background-color: #2b7ea7;

			}
		}

		&:not(.active):not(.disabled):focus {
			background-color:#7fdbef;
		}

		&:not(.active):not(.disabled):hover{
			background-color:#f5f5f5;
			cursor: pointer;
		}

		&:focus:hover:not(.disabled):not(.active) {
			background-color:#7fdbef;
			cursor: pointer;
		}
	}

	th {
		padding: 0.5rem;
		font-weight: 400;
		color: #444;
		text-align:center;
	}
}

table tbody tr:nth-child(even) {
    border-bottom: inherit;
    background-color: inherit;
}

#month-label{
	display:inline-block;
	padding-top: 0.5rem;

	font-size: 2rem;
	margin-bottom: 1rem;
}


[data-whatintent="mouse"] #datepicker_table, [data-whatintent="touch"] #datepicker_table,{
	td {
		&:focus{
			outline:0;
		}
	}
}


#a11y_description {
	display:none;
	text-align: initial;
	max-width: 40rem;
	margin-left: auto;
	margin-right:auto;
	padding:2rem;
	background-color: #f4f4ee;
}

#screen-reader-text{

	font-size:1.1rem;
	margin: 0 auto;
	max-width: 35rem;
	padding: 1rem;
	background-color: #f5f5f5;
	border:1px solid #888;
	//color: #6f6f6f;
	//
	&:not(.focused){
		border:none;
	}

	

	&.focused{
		font-size:1.3rem;
		background-color: #7FDBEF;
		color: #000;
	}
	&.focused.selected{
		background-color: #2b7ea7;
		color: #fff;
	}

}

#aria-desc-text{
	font-size: 1rem;
	font-weight: 400;
	transition: all 500ms ease-in;
}

#screen-reader-role {
	font-weight: bold;
}

#description-section ul{
	list-style-type: disc;
	text-align: initial;
	max-width:50rem;
	margin: 0 auto;
	//margin:0 auto;

	&>li {
		/*margin: 0.7rem 0;
		border-bottom: 3px solid lightblue;
		padding: 0.3rem 0;*/
	}

	&>li.important {
		background-color: lightpink;
		padding: .75rem .75rem;
    	margin: 0.5rem 0;
	}
}

.keyboard-shortcuts-link {
    position: absolute;
    left: -9999px;
    padding: 1rem;
    background-color: #222;
    color:white;
    font-size:1.2rem;

    &:focus-within{
    	/*left:45%;*/
    	left:50%;
    	top:12%;
    	outline: auto;
    	margin-left:auto;
    	margin-right:auto;
    	transform: translate(-50%)

	}
	button:focus{
		//outline:0;
		color:white;
	}
}

#keyboard_shortcuts_modal{
	width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid #222;
    border-radius: 8px;
    padding-top:2rem;
    z-index: 50;
    text-align: initial;

    

    .kbd_modal__heading{
    	text-align: center;
    }

    button.close{
    	text-align: center;		
    }
}

.keyboard_modal__inner{
	max-width:80%;
	margin: 0 auto;
	max-height: 80%;
	overflow: scroll;
	p {
    font-size:1.1rem;
	}
}
.keyboard_modal__bottom{
	max-width: 80%;
	margin:0 auto;
	margin-top:2rem;
}

#moredetails{
	cursor:pointer;
	padding: 0.5rem;

	h2{
		margin-top: inherit;
	}

	&:hover{
		background-color: #f5f5f5;
	}
}

kbd{	display: inline-block;
    padding: .1em .3em;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: .2em;
    box-shadow: inset 0 -1px 0 #bbb;

}

abbr[title]{
	border:none;
}

.chip-set {
	padding: 4px;
    display: block;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow-x: auto;
  	overflow-y: hidden;
  	white-space: nowrap;

	margin-left:0;
	list-style: none;
	margin-top: 1rem;

	li{
		display:inline-block;
	}

	.chip{
		margin:4px;

		border: 1px solid #888;

	    border-radius: 20px;
	    background-color: #f2f2f2;
	    color: rgba(0,0,0,1);
	    font-size: 1rem;
	    line-height: 1.25rem;
	    font-weight: 400;
	    letter-spacing: .0178571429em;
	    text-decoration: inherit;
	    text-transform: inherit;
	    height: 40px;
	    display: inline-flex;
	    position: relative;
	    align-items: center;
	    box-sizing: border-box;
	    padding: 7px 14px;
	    outline: none;
	    cursor: pointer;
	    overflow: hidden;

		//box-shadow: 0 0 0 2px #5e35b1;


	    &:focus{
	    	border-color:transparent;
	    	box-shadow: 0 0 0 2px #5e35b1;
	    	background-color: #e2e2e2;
	    }
	    &:active{
	    	background-color: #e3e3e3;
	    }
	    &:hover{
	    	background-color: #e2e2e2;

	    }
}
}




html[data-whatintent="mouse"] .chip:focus, html[data-whatintent="touch"] .chip:focus{
	box-shadow: none;
}
