
#datepicker_wrapper {
	position:relative;
	max-width: rem-calc(500px);
    margin: 0 auto;
    overflow:hidden;

    table{
    	font-size:1.2rem;

    	@include breakpoint(small only) { 
		font-size: 1rem;

		}
    }


    @include breakpoint(small only) { 
		max-width: 100%;
	}


}

.month-nav__wrapper{
	//position:relative;
	width:100%;
}

.month-nav__sides {
	//position:absolute;

	&.left{
		float:left;
	}
	&.right{
		float:right;
	}
}

table#datepicker_table {
	text-align: center;
	background-color:#f5f5f5;
	padding:0.5rem;
	//margin: 1rem auto 2rem auto;
	border-collapse: initial;

	tbody {
		background:none;
	}

	td {
		padding:1.4rem;
		height:auto;
		background-color: #fefefe;

		@include breakpoint(small only) { 
			height:auto;
			padding:1rem;

		}

		&.disabled{
			background:none;
			cursor:default!important;
			color:#6f6f6f;
			&:hover{
				cursor:default;
			}
			/*&:focus{
				background-color: inherit;
			}*/
		}

		&.active {
			background-color: #2b7ea7;
			color:white;
			font-weight: bold;
			border-radius:50%;

			&:focus:hover{
			cursor: pointer;
			background-color: #2b7ea7;


			}
			&:hover{
				cursor: pointer;
				background-color: #2b7ea7;

			}
		}

		&:not(.active):not(.disabled):focus {
			background-color:#7fdbef;
		}

		&:not(.active):not(.disabled):hover{
			background-color:#f5f5f5;
			cursor: pointer;
		}

		&:focus:hover:not(.disabled):not(.active) {
			background-color:#7fdbef;
			cursor: pointer;
		}
	}

	th {
		padding: 0.5rem;
		font-weight: 400;
		color: #6f6f6f;
		text-align:center;
	}
}

table tbody tr:nth-child(even) {
    border-bottom: inherit;
    background-color: inherit;
}

#month-label{
	//margin:0 auto;
	display:inline-block;
	padding-top: 0.8rem;
}

[data-whatintent="mouse"] #datepicker_table{
	td {
		&:focus{
			outline:0;
		}
	}

}


p#a11y_description {
	display:none;
	text-align: initial;
	max-width: 40rem;
	margin-left: auto;
	margin-right:auto;
	padding:2rem;
	background-color: #f4f4ee;
}

div#screen-reader-text:not(:empty){
	font-size:1.1rem;
	margin: 0 auto;
	max-width: 35rem;
	padding: 1rem;
	background-color: #f5f5f5;
	color: #6f6f6f;

	&.focused{
		font-size:1.3rem;
		background-color: #7FDBEF;
		color: #000;
	}
	&.focused.selected{
		background-color: #2b7ea7;
		color: #fff;
	}

}

p#aria-desc-text{
	font-size: 1rem;
	font-weight: 400;
	transition: all 500ms ease-in;
}

span#screen-reader-role {
	font-weight: bold;
}

span#screen-reader-text {
	font-weight: lighter;
}

section#description-section ul{
	list-style-type: disc;
	text-align: initial;
	max-width:50rem;
	margin: 0 auto;
	//margin:0 auto;

	&>li {
		/*margin: 0.7rem 0;
		border-bottom: 3px solid lightblue;
		padding: 0.3rem 0;*/
	}

	&>li.important {
		background-color: lightpink;
		padding: .75rem .75rem;
    	margin: 0.5rem 0;
	}


}
/*
.keyboard_prompt{
	position:fixed;
	left:0;
	bottom:0;
	//display:none;

	img {
		width:125px;
	}
}*/

/*[data-whatintent="keyboard"] .keyboard_prompt{
	display:block;
}*/


.keyboard-shortcuts-link {
    position: absolute;
    left: -9999px;
    padding: 1rem;
    background-color: #222;
    color:white;

    &:focus-within{
    	/*left:45%;*/
    	left:50%;
    	top:0;
    	outline: auto;
    	margin-left:auto;
    	margin-right:auto;
    	transform: translate(-50%)

	}
	button:focus{
		//outline:0;
		color:white;
	}
}

#keyboard_shortcuts_modal{
	width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid #222;
    border-radius: 8px;
    padding-top:2rem;

    h3{
    	text-align: center;

    }

    p {
    	text-align: initial;

    }

    button.close{

    }
}

.keyboard_modal__inner{
	max-width:80%;
	margin: 0 auto;
}

#moredetails{
	cursor:pointer;
	padding: 0.5rem;

	h2{
		margin-top: inherit;
	}

	&:hover{
		background-color: #f5f5f5;
	}
}

kbd{	display: inline-block;
    padding: .1em .3em;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: .2em;
    box-shadow: inset 0 -1px 0 #bbb;

}