button {

//Reset styles
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button.text-btn{
	cursor: pointer;
	font-weight:normal;
	&:hover{
		color:#6e42c6;
		text-decoration: underline;
	}
	&:focus{
		outline: 4px solid #5e35b1;
	    outline-offset: 0.25rem;
		text-decoration: underline;
		//transition:all 0.1s ease-in;
	}
}

input[type="text"], input[type="password"], input[type="tel"], textarea {
	border:none;
}

input[type="text"], input[type="password"], input[type="tel"], textarea {
	display:block;
	background-color:#eaeaea;
	padding: 4px 3px 4px 11px;
	margin-bottom: 1rem;
	margin-top:0.25rem;
	border-bottom-style: solid;
    border-bottom-color: #959595;
    border-bottom-width: 1px;
    border-radius: 3px 3px 0 0;
    font-size: 1.2rem;

    width:100%;

    &:focus{
		border-color:#5e35b1;
		transition:all 0.1s ease-in;
		border: 1px solid #5e35b1;
		border-bottom-width: 4px;
		outline:none;
		padding: 2px 3px 0px 10px;
	}
	&:hover{
		cursor: pointer;
		background-color: #f2f2f2;
		&:focus{
			cursor: initial;
		}

	}
}

.hasError{
	&:before{
		content:"";
		position:absolute;
		height:100%;
		width:15px;
		background-color: red;
		left:-2rem;
		top:0.5rem;
	}

	& input[type="text"], & input[type="password"], & input[type="tel"], & textarea{
		border: 2px solid #e00751;

		&:focus{
			border-bottom-width: 5px;
		}
	}
	.error {
		display: block;
	}
	.helper {
		display:none;
	}
}

.helper{
	display:block;
    margin-top: -0.5rem;
    color: #545454;
    max-width: 25rem;
    padding-left: 10px;
}

.error{
	display:none;
	margin-bottom: 1rem;
    margin-top: -.5rem;
    color: #545454;
    max-width: 25rem;
    padding-left: 10px;
    position: relative;
    font-weight: 600;
}

fieldset {
	display:inline-block;
	padding: 0;
	margin:0;
	border:none;
	margin-bottom:1rem;
}

.checkbox-container, .radio-container{
	display: inline-block;
    position: absolute;
    top: 25%;
    height: 25px;
    width: 25px;
    //background-color: pink;
    left: 10px;

    .radio-outercircle{
		border: 2px solid #767676;
	    height: 100%;
	    width: 100%;
	    border-radius: 50%;
	    position:relative;

	}
	.radio-innercircle{
		/* border: 2px solid; */
	    height: 100%;
	    width: 100%;
	    border-radius: 50%;
	    transform: scale(.5);
	    top: 0;
	    position: absolute;
	    transition: transform .12s cubic-bezier(.4,0,.6,1) 0ms,border-color .12s cubic-bezier(.4,0,.6,1) 0ms, background-color .12s cubic-bezier(.4,0,.6,1) 0ms;
	    //background-color: #848484;

	}

    .checkbox-outercircle{
		border: 2px solid #767676;
	    height: 100%;
	    width: 100%;
	    //background-color: #767676;
	    //border-radius: 50%;
	    //
	    &:before{
	    	content: "";
		    position: absolute;
		    height: 180%;
		    width: 180%;
		    border-radius: 50%;
		    background-color: #eaeaea;
		    top: -40%;
		    left: -40%;
		    z-index: -1;
		    opacity:0;
	    }

	}
	.checkbox-innercircle{
		/* border: 2px solid; */
	    height: 100%;
	    width: 100%;
	    //border-radius: 50%;
	    //transform: scale(.5);
	    top: 0;
	    position: absolute;
	    transform: scale(0.8);
	    //transition: transform .12s cubic-bezier(.4,0,.6,1) 0ms,border-color .12s cubic-bezier(.4,0,.6,1) 0ms, background-color .12s cubic-bezier(.4,0,.6,1) 0ms;
	    //background-color: #848484;
	    //
	    svg {
	    	fill: transparent;

	    }

	}
}

input[type="radio"], input[type="checkbox"]{
	position:absolute;
	opacity: 0;
	width:50px;
	height:50px;

	& + label{
		font-weight: normal;
		padding: 0.75rem 0.75rem 0.75rem 2.8rem;
	    //background-color: #eaeaea;
	    border-radius: 3px;
	    //border: 1px solid #767676;
	    margin-right:1rem;
	    margin-top:0.25rem;
	    position:relative;

	}

	&:focus + label {
		outline: 4px solid #5e35b1;
	    outline-offset: 0.25rem;
	    //transition: all .12s cubic-bezier(.4,0,.6,1) 0ms

	}

	&:checked + label {
		.radio-innercircle{
	    	background-color: #3d3d3d;
	    }

	    .checkbox-outercircle {
	    	background-color:#3d3d3d;
	    	border-color:#3d3d3d;
	    }
	    .checkbox-innercircle svg{
	    	fill:#fff;
	    }
	}

	&:not(:checked):hover + label, &:not(:checked):focus + label {
		.radio-innercircle {
	    	background-color: #ccc;
		}

		.checkbox-innercircle svg {
			//fill:#fff;
		}
	}

	&:not(:checked) + label .checkbox-outercircle:hover, &:not(:checked):focus + label {
		.checkbox-outercircle:before {
	    	//opacity:1;
	    }
	}
}

fieldset > span {
	font-size: 1rem;
	/*font-weight:bold;*/
}

.form-field{
	display:block;
	max-width:25rem;
	margin-bottom:2rem;
	position:relative;

}

.short{
	max-width:10rem;

	}



input.date {
	padding: 0.4rem;
	font-size: 1.3rem;
	display: block;
    margin-top:0.5rem;
    margin: 0 auto;
}
label.date {
	margin: 0.5rem 0;
	font-size:1.2rem;
	display:block;
}

.toggle-pw{
	display:flex;
	justify-content: flex-end;
	margin-top:-0.5rem;

		
	color:#5e35b1;
	font-weight:bold;
}


label, legend{
	font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    padding: 0.5rem 2rem 0.5rem 10px;
    display: inline-block;
}

.optional-span{
	font-weight: normal;
}

input[type="text"], input[type="password"], input[type="tel"]{
	height: 3.5rem;
}

textarea{
	height: 5rem;
}

