button {

//Reset styles
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

button.text-btn{
	cursor: pointer;
	font-weight:normal;
	&:hover{
		color:#6e42c6;
		text-decoration: underline;
	}
	&:focus{
		outline: 4px solid #5e35b1;
	    outline-offset: 0.25rem;
		text-decoration: underline;
		//transition:all 0.1s ease-in;
	}
}

.helper{
	display:block;
    //margin-top: -0.5rem;
    color: #545454;
    max-width: 25rem;
    padding-left: 10px;
    //padding-bottom:1rem;
    width:100%;
}

.form-field.center{
	margin:0 auto;
}

.form-field{
	display:block;
	margin-bottom:1.5rem;
	position:relative;

	&.inline{
		display: inline-block;
	    float: left;
	    margin-right: 2rem;
	}


	&__label {
		padding: 0.5rem 2rem 0.5rem 10px;
		font-weight: 600;
	    padding-left: 10px;
	    cursor: pointer;
	    display: block;

	    &.block {
	    	display:block;
	    }
	}

	&__textarea{
		height: 5rem;
	}

	
	&__fieldset {
			max-width:28rem;
	}

	&__input-date {
	padding: 0.4rem;
	font-size: 1.3rem;
	display: block;
    margin-top:0.5rem;
    margin: 0 auto;
   	max-width:25rem;

	}

	label.date {
		margin: 0.5rem 0;
		font-size:1.2rem;
		display:block;
	}	



	&__input-text, &__input-password, &__input-tel, &__input-email, &__input-date {
		height: 3.5rem;
		display:inline-block;
	}

	&__input-text, &__input-password, &__input-tel, &__input-email, &__input-date, &__textarea {
	}

	&__input-text, &__input-password, &__input-tel, & &__input-email, &__textarea, &__input-date {
		display:block;
		background-color:#f2f2f2;
		padding: 4px 3px 4px 11px;
		margin-bottom: 1rem;
		margin-top:0.25rem;
		border: none;
		border-bottom-style: solid;
	    border-bottom-color: #959595;
	    border-bottom-width: 1px;
	    border-radius: 3px 3px 0 0;
	    font-size: 1.2rem;


	    width:100%;

	    &:focus{
			border-color:#5e35b1;
			transition:all 0.1s ease-in;
			border: 5px solid #5e35b1;
			//border-bottom-width: 5px;
			outline:none;
			padding: 7px 2px 3px 11px;
		}
		&:hover{
			cursor: pointer;
			background-color: #f9f9f9;
			&:focus{
				cursor: initial;
			}

		}

		&::placeholder{
			color: #696868;
		}
	}

	&__input-radio, &__input-checkbox{
		position:absolute;
		opacity: 0;
		width:50px;
		height:50px;
		display:block;


		& + label{
			font-weight: normal;
			padding: 13px 0.75rem 13px 3.2rem;
		    border-radius: 3px;
		    margin-right:1rem;
		    margin-top:0.25;
		    position:relative;
		    min-width:40%;

		}

		&:focus + label {
			outline: 4px solid #5e35b1;
		    outline-offset: -3px;
		    //transition: all .12s cubic-bezier(.4,0,.6,1) 0ms

		}

		&:checked + label {
			.radio-innercircle{
		    	background-color: #3d3d3d;
		    }

		    .checkbox-outercircle {
		    	background-color:#3d3d3d;
		    	border-color:#3d3d3d;
		    }


		    .checkbox-innercircle svg{
		    	fill:#fff;
		    }
		}

		&:not(:checked):hover + label, &:not(:checked):focus + label {
			.radio-innercircle {
		    	background-color: #ccc;
			}

			.checkbox-outercircle:before {
				//opacity:0;
			}
		}

		& + label:hover .checkbox-outercircle, &:focus + label .checkbox-outercircle{
			&:before {
		    	opacity:1;
		    }
		}
	}

	.checkbox-container, .radio-container{
		display: inline-block;
	    position: absolute;
	    top: 13px;
	    height: 25px;
	    width: 25px;
	    //background-color: pink;
	    left: 10px;

	    .radio-outercircle{
			border: 2px solid #767676;
		    height: 100%;
		    width: 100%;
		    border-radius: 50%;
		    position:relative;

		}
		.radio-innercircle{
			/* border: 2px solid; */
		    height: 100%;
		    width: 100%;
		    border-radius: 50%;
		    transform: scale(.5);
		    top: 0;
		    position: absolute;
		    transition: transform .12s cubic-bezier(.4,0,.6,1) 0ms,border-color .12s cubic-bezier(.4,0,.6,1) 0ms, background-color .12s cubic-bezier(.4,0,.6,1) 0ms;
		    //background-color: #848484;

		}

	    .checkbox-outercircle{
			border: 2px solid #767676;
		    height: 100%;
		    width: 100%;
		    transition: border .12s cubic-bezier(.4,0,.6,1) 0ms, background-color .12s cubic-bezier(.4,0,.6,1) 0ms;
		    
		    &:before{
		    	content: "";
			    position: absolute;
			    height: 180%;
			    width: 180%;
			    border-radius: 50%;
			    background-color: #f5f5f5;
			    top: -40%;
			    left: -40%;
			    z-index: -1;
			    opacity:0;
			    transition: opacity .12s cubic-bezier(.4,0,.6,1) 0ms;
		    }

		}
		.checkbox-innercircle{
		    height: 100%;
		    width: 100%;
		    
		    top: 0;
		    position: absolute;
		    transform: scale(0.8);
		    transition: transform .12s cubic-bezier(.4,0,.6,1) 0ms, fill .12s cubic-bezier(.4,0,.6,1) 0ms;

		    svg {
		    	fill: transparent;
		    }
		}
	}

	

}


.very-short{
	max-width:9rem;
}

.short{
	max-width:10rem;

}
.medium {
	max-width: 15rem;
}

