#modal-overlay{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0,0,0,0.4);
	z-index: 9998;
	&.__is-visible{
		display:block;
	}

}


#modal-container{
	background-color:ghostwhite;
	display:none;
	position:fixed;
	bottom: auto;
	left:40%;
	right:auto;
	top:35%;
	max-width:40rem;
	padding:3rem;
	z-index:9999;
	display:none;

	&.__is-visible{
		display:block;
	}

}

#modal-title[tabindex='-1']:focus{
	outline:0;
}

//LAUNCHY
//
.js {
    [data-launchy] {
        display: none;
    }
}

.launchy__window {
    background-color: ghostwhite;
    border: transparent solid 1px;
    border-radius: 3px;
    bottom: 1rem;
    box-shadow: 1px 1px 10px #222;
    display: none;
    left: 1rem;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 9999;

    @media (min-width: 600px) {
        bottom: auto;
        left: 50%;
        max-width: 30rem;
        padding: 2rem;
        right: auto;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &--is-visible {
        display: block;

        [data-launchy] {
            display: block;
        }
    }
}

.launchy__content {
    position: relative;
}

.launchy__overlay {
    background-color: #222;
    background-color: #333;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;

    &--is-visible {
        display: block;
    }
}

.launchy__close-link {
    background-color: purple;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 1.25rem;
    padding: .15rem .5rem;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    @media (min-width: 600px) {
        right: -1rem;
        top: -1rem;
    }

    &:focus,
    &:hover {
        background-color: purple;
        color: white;
        cursor: pointer;
    }
}

.launchy__title {
    font-family: 'Arial';
    font-size: 2.5rem;
    margin: 0;
}

.launchy__launch-link {
    background-color: transparent;
    color: white;
    display: inline-block;
    font-family: 'Arial';
    font-size: 3.5rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 2px #222;

    @media (min-width: 600px) {
        font-size: 6rem;
    }

    &:focus,
    &:hover {
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}

.launchy__custom-control {
    background-color: purple;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: .5rem;
    text-decoration: none;

    &:focus,
    &:hover {
        background-color: purple;
        color: white;
    }
}