/*
 
SJ-semantik
  */
 
 .sj-table{
 	width:100%;
	background-color:#f4f4ee;
	padding:1rem;
	font-size: 18px;
 }
 .sj-row{
 	width:100%;
 	background-color:#fff;
 	/*min-height:80px;*/

 	display:table;
 	width:100%;
 	margin-bottom:0.2rem;
 }
 .sj-text-outer{
 	padding-left:20px;
 	padding-right:20px;
 	vertical-align: middle;
 	padding-top:2px;
 	position:relative;
 	/*cursor:pointer;*/
 	display:table-cell;
 	height:66px;
 	width:65%;
 }

 .sj-text-inner{
 	display:table;
 	width:100%;
 	font-size:18px;

 }

 .sj-text-time {
 	display:table-cell;
 	font-weight:bold;
 	width:30px;
 }
  .sj-text-duration {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-changes {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-brand {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 }
 .sj-text-operator {
 	display:table-cell;
 	width:30px;
 	padding-left:5px;
 	text-align:right;
 }
 .sj-price-outer {
 	padding-left:20px;
 	padding-right:20px;
 	vertical-align: middle;
 	padding-top:2px;
 	position:relative;
 	/*cursor:pointer;*/
 	display:table-cell;
 	height:66px;
 	width:35%;
 	border-left: 1px solid #ebebe3;
 }
 .sj-price-inner{
 	display:table;
 	width:100%;
 	font-size: 20px;
 }
 .sj-price-lower {
 	display:table-cell;
 }
  .sj-price-lower>span, .sj-price-higher>span {
	font-weight:bold;
  }

  .sj-expanded {
  	display:block;
  }
  .sj-expanded-wrapper{
  	display:table;
  	width:100%;
  	min-height:300px;
    direction: rtl;
  }
  .sj-traininfo {
  	display:table-cell;
  	width:65%;
  	padding-left:20px;
  	padding-right:20px;
  	background:#fafaf7;
    direction: ltr;


  }
  .sj-prices {
  	display:table-cell;
  	width:35%;
  	background:white;
  	padding-left:20px;
  	padding-right:20px;
    direction: ltr;

  }

  .sj-pricegrid-row{
  	/*display:table-row;*/
    flex: 0 1 100%;
  	width:100%;
  }
.sj-pricegrid-row:nth-child(2), .sj-pricegrid-row:nth-child(3){
  border-left:1px solid black;
}

.sj-pricegrid-inner:nth-child(2), .sj-pricegrid-inner:nth-child(3){
    border-bottom: 1px solid black;

}

  .sj-pricegrid-outer{
  	display: flex;
    flex: 0 0 100%;
  	width:100%;
  }
  .sj-pricegrid-inner{
  	/*display:table-cell;
  	width:50%;*/
    padding:1rem 0.5rem 1rem 0.5rem;
  	min-height:88px;
  	text-align:center;
  	vertical-align: middle;
  	cursor:pointer;

    &[aria-pressed="true"]{
      background-color:darkblue;
      color:white;
    }
  }

  .sj-pricegrid-inner:hover{
	background-color:darkblue;
  }